<VirtualHost *:80>

        #ServerName www.example.com

        ServerAdmin webmaster@localhost
        DocumentRoot /usr/share/zabbix

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
